/* GLOBAL
====================================================================== */

*,
*::before, *:before,
*::after, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-width: 768px;
  margin: 0;
  padding: 0;

  font: normal 400 14px/21px "PT Sans", "Calibri", sans-serif;
  color: #333333;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;
  border: 0;

  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
}

.input-reset {
  font: inherit;
  text-transform: inherit;
  color: inherit;

  background-color: transparent;
  border: 0;
}

.btn-reset {
  padding: 0;

  font: inherit;
  text-transform: inherit;
  color: inherit;

  background-color: transparent;
  border: 0;
}

.btn-blue {
  color: #ffffff;
  text-align: center;

  background-color: #81b3d2;
}

.btn-blue:hover,
.btn-blue:focus {
  background-color: #669ec0;
}

.btn-blue:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

.btn-brown {
  color: #ffffff;
  text-align: center;

  background-color: #766357;
}

.btn-brown:hover,
.btn-brown:focus {
  background-color: #604e43;
}

.btn-brown:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

.page-container {
  min-width: 768px;
  max-width: 1200px;
  margin: 0 auto;

  background-color: #ffffff;
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 1, 1, 0.2);
          box-shadow: 0 0 15px 0 rgba(0, 1, 1, 0.2);
}

.section-wrap {
  padding-left: 6%;
  padding-right: 6%;
}

.section-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}


/* HEADER
====================================================================== */

.page-header {
  position: relative;
  z-index: 100;
}

.page-header__logo {
  position: absolute;
  top: 0;
  left: 50%;

  margin-left: -69px;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 56px;
}

.site-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 46%;
  margin: 0;
  padding: 0;

  list-style: none;
}

.site-nav__list--left {
  text-align: left;
}

.site-nav__list--right {
  text-align: right;
}

.site-nav__item {
  width: 50%;

  line-height: 56px;
}

.site-nav__link {
  font-weight: 700;
  line-height: 26px;
  color: #000000;
}

.site-nav__link:hover,
.site-nav__link:focus {
  color: #81b3d2;
}

.site-nav__link:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-nav__link--active,
.site-nav__link--active:hover,
.site-nav__link--active:focus,
.site-nav__link--active:active {
  color: #766357;
}


/* FOOTER
====================================================================== */

.page-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 35px;
  padding-bottom: 35px;
}

.tags {
  width: 33.3%;
  margin: 0;

  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  text-align: center;
}

/* Social
================================================== */

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 33.4%;
  margin: 0;
  padding: 0;

  list-style: none;
}

.social__item {
  width: 46px;
  height: 48px;
}

.social__item:not(:first-child) {
  margin-left: 6px;
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.social__img path {
  fill: #ffffff;
}

.social__link:active .social__img path {
  opacity: 0.3;
}

/* Develop
================================================== */

.develop {
  width: 33.3%;
  margin: 0;

  line-height: 26px;
  color: #000000;
  text-align: center;
}

.develop__logo {
  display: inline-block;

  vertical-align: middle;
}

.develop__img {
  display: block;
  margin-left: 10px;
}

.develop__img path {
  fill: #231f20;
}

.develop__img:hover path,
.develop__img:focus path {
  fill: #81b3d2;
}

.develop__img:active path {
  fill: #bdbbbc;
}


/* CONTENT INDEX
====================================================================== */

.main-header {
  height: 510px;
  padding-top: 76px;

  background-color: #7c8991;
  background-image: url("../img/head-shape.png"),
                    url("../img/head-back.jpg");
  background-position: 50% 100%, 50% 0;
  background-repeat: no-repeat;
  background-size: 100% auto, 100% 100%;
}

.main-header__text {
  display: block;
  margin: 0 auto;
}

.main-header__text--2 {
  margin-top: 11px;
}

.main-header__text--3 {
  margin-top: 52px;
}

.main-header__text--4 {
  margin-top: 56px;
}

/* Feauters
================================================== */

.features {
  margin-top: -1px;
  padding-top: 1px;

  background-color: #ffffff;
}

.features__text {
  width: 570px;
  margin: 30px auto 0;

  line-height: 26px;
  text-align: center;
}

.features__text--title {
  margin-top: 55px;

  font-weight: 700;
  font-size: 21px;
  color: #000000;
}

.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 50px 0 0;
  padding: 0;

  background-color: #eeeeee;
  list-style: none;
}

.features__item,
.features__item-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 33.3%;
  height: 256px;
  padding: 45px 35px 35px;

  text-align: center;
}

.features__item-desc {
  color: #ffffff;

  background-color: #81b3d2;
}

.features__item--full {
  width: 100%;
  padding: 0;
}

.features__item--with-sub {
  height: auto;
}

.features__item-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 256px;
  overflow: hidden;
}

.features__item-title {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  width: 100%; /* --- for IE11 --- */
  max-width: 160px;
  margin: 0 auto;

  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
}

.features__item-number {
  position: relative;

  display: inline-block;
  margin: 27px auto 20px;
  padding: 0 16px;

  vertical-align: baseline;
}

.features__item-number::before,
.features__item-number::after {
  content: "";

  position: absolute;
  left: 0;
  top: 50%;

  width: 10px;
  height: 2px;

  background-color: #333333;
}

.features__item-number::after {
  left: auto;
  right: 0;
}

.features__item-number--light::before,
.features__item-number--light::after {
  background-color: #ffffff;
}

.features__item-img {
  width: 66.7%;
}

.features__item-img--left {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.features__item-text {
  width: 100%; /* --- for IE11 --- */
  max-width: 280px;
  margin: 0 auto;
}

.features__sublist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 330px;
  margin: 0;
  padding:0;

  background-color: #ffffff;
  list-style: none;
}

.features__subitem {
  width: 33.3%;
  padding: 160px 45px 45px;

  background: url("../img/icon/house.svg") left 50% bottom 200px no-repeat;
}

.features__subitem--food {
  background-image: url("../img/icon/food.svg");
}

.features__subitem--gift {
  background-image: url("../img/icon/gift.svg");
}

.features__subitem-title {
  margin: 0;

  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.features__subitem-text {
  max-width: 305px;
  margin: 25px 0 0;
}

/* Search
================================================== */

.search {
  width: 568px;
  margin: 0 auto;
  padding-top: 50px;

  text-align: center;
}

.search__text {
  margin: 25px 0 0;

  line-height: 24px;
}

.search__text--title {
  margin: 0;

  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.search__title {
  margin: 45px 0 0;
}

.search__link {
  display: block;
  width: 100%;
  padding: 30px;

  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

/* search-form
=================================== */

.search__form {
  position: absolute;
  z-index: 100;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 568px;
  padding: 55px;

  background-color: #ffffff;
  -webkit-box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
          box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
}

.search__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 100%;
  margin: 0;
}

.search__field:not(:first-child) {
  margin-top: 30px;
}

.search__field--short {
  width: 50%;
}

.search__label {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
          align-self: center;
  width: 112px;

  font-weight: 700;
  line-height: 26px;
  color: #000000;
  text-align: left;
}

.search__field--short:last-of-type .search__label {
  text-align: center;
}

.search__input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 6px 12px;

  font-weight: 700;
  line-height: 26px;
  color: #000000;

  background-color: #f2f2f2;
}

.search__input:hover {
  background-color: #ebebeb;
}

.search__input:focus {
  background-color: #ffffff;
  -webkit-box-shadow: inset 0 0 0 2px #e5e5e5;
          box-shadow: inset 0 0 0 2px #e5e5e5;
}

.search__cal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 12px;

  background-color: #f2f2f2;

  cursor: pointer;
}

.search__cal-img path {
  fill: #cacaca;
}

.search__cal:hover .search__cal-img path,
.search__cal:focus .search__cal-img path {
  fill: #000000;
}

.search__cal:active .search__cal-img path {
  fill: #81b3d2;
}

.search__input-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 114px;
  margin: 0;
}

.search__edit-number {
  width: 37px;
  padding: 6px 10px;

  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: #a9a9a9;

  background-color: #f2f2f2;

  cursor: pointer;
}

.search__edit-number:hover,
.search__edit-number:focus {
  color: #000000;
}

.search__edit-number:active {
  color: #81b3d2;
}

.search__input--number {
  width: 40px;

  text-align: center;

  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

.search__input--number::-webkit-inner-spin-button,
.search__input--number::-webkit-outer-spin-button {
  display: none;
}

.search__submit {
  width: 100%;
  margin-top: 50px;
  padding: 17px;

  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

/* Map
================================================== */

.map {
  position: relative;

  height: 473px;
  overflow: hidden;
}

.map__img {
  position: relative;
  left: 50%;
  z-index: 0;

  display: block;
  max-width: none;
  margin-left: -600px;
}

.map__iframe {
  position: absolute;
  top: 0;
  z-index: 10;

  width: 100%;
  height: 100%;

  border: 0;
}


/* CONTENT HOTELS
====================================================================== */

/* Filter
================================================== */

.filter {
  padding-top: 27px;
  padding-bottom: 30px;

  background: #7c8991 url("../img/head-back-blur.jpg") 50% 50% no-repeat;
  background-size: 100% 100%;
}

.filter__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  color: #ffffff;
}

.filter__group {
  width: 23%;
  margin: 0;
  padding: 0;

  border: none;
}

.filter__group--price {
  width: 100%;
}

.filter__group:nth-child(2) {
  margin-left: 1.4%;
}

@media (max-width: 1199px) {
  .filter__group:nth-child(2) {
    margin-left: auto;
  }
}

.filter__group-wrap {
  width: 33%;
  margin-left: auto;

  text-align: center;
}

.filter__title {
  font-weight: 700;
  font-size: 16px;
  text-align: left;
}

.filter__list {
  margin: 25px 0 0;
  padding: 0;

  list-style: none;
}

.filter__item:not(:first-child) {
  margin-top: 22px;
}

.filter__label {
  position: relative;

  display: inline-block;
  min-height: 23px;
  padding-left: 40px;

  vertical-align: middle;
}

.filter__label::before {
  content: "";

  position: absolute;
  left: 0;
  top: 0;
  width: 23px;
  height: 23px;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.filter__input:checked ~ .filter__label::after {
  content: "";

  position: absolute;
  left: 10px;
  bottom: 7px;
  width: 11px;
  height: 20px;

  border-bottom: 4px solid #fff;
  border-right: 4px solid #fff;
  -webkit-box-shadow: inset -1px -1px 0 0 #5080aa,
                      1px 1px 0 0 #5080aa;
          box-shadow: inset -1px -1px 0 0 #5080aa,
                      1px 1px 0 0 #5080aa;

  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.filter__input:disabled ~ .filter__label::before,
.filter__input:disabled ~ .filter__label::after {
  border-color: #6a6a6a;
}

.filter__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  padding: 5px;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.filter__price-min,
.filter__price-max {
  width: 50%;
  padding-left: 10px;
}

.filter__price-max {
  border-left: 2px solid #ffffff;
}

.filter__number {
  inline-size: inherit;
  width: 50%;

  text-align: center;
}

/* filter slider
=================================== */

.filter-slider {
  position: relative;

  height: 22px;
  margin-top: 10px;

  text-align: left;
}

.filter-slider__bar {
  position: absolute;
  left: 0;
  top: 9px;

  width: 100%;
  height: 2px;

  background-color: rgba(255, 255, 255, 0.3);
}

.filter-slider__bar::before {
  content: "";

  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;

  width: 82%;
  height: 2px;

  background-color: #ffffff;
}

.filter-slider__item {
  position: relative;
  z-index: 2;

  display: inline-block;
  width: 20px;
  height: 20px;
  margin-top: 1px;

  vertical-align: baseline;

  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 0 0 #ababab;
          box-shadow: 0 2px 0 0 #ababab;

  cursor: pointer;
}

.filter-slider__item:hover {
  width: 22px;
  height: 22px;
  margin: -1px;

  border: 9px solid #ffffff;
}

.filter-slider__item--max {
  margin-left: calc(80% - 34px);
}

.filter-slider__item--max:hover {
  margin-left: calc(80% - 35px);
}

/* ================================ */

.filter__submit {
  padding: 7px 35px;
  margin-top: 20px;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.filter__submit:hover {
  color: #000000;

  background-color: #ffffff;
}

/* Result, Sort
================================================== */

.result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.result__title,
.result__value {
  margin: 0;

  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.result__value {
  margin-left: 6px;
}

/* sort
=================================== */

.sort {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 45px;
  padding-top: 5px;
}

.sort__title {
  margin: 0;

  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
}

.sort__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 0 7px;
  padding: 0;

  list-style: none;
}

.sort__list--order {
  margin-left: auto;
}

.sort__item {
  position: relative;

  margin-left: 33px;
}

.sort__action {
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);

  border-bottom: 1px dotted rgba(0, 0, 0, 0.3);

  cursor: pointer;
}

.sort__action:hover,
.sort__action:focus {
  color: #81b3d2;

  border-color: #81b3d2;
}

.sort__action:active {
  color: #000000;

  border-bottom: none;
}

.sort__action--active {
  color: #81b3d2;

  border-bottom: none;

  cursor: auto;
}


.sort__item--order {
  width: 12px;
  height: 10px;
  margin-left: 12px;
}

.sort__icon {
  position: absolute;
  top: 50%;
  width: 12px;
  height: 10px;

  margin-top: -5px;

  border-bottom: 10px solid #cacaca;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;

  cursor: pointer;
}

.sort__icon:hover,
.sort__icon:focus {
  border-bottom-color: #000000;
}

.sort__icon:active,
.sort__icon--active,
.sort__icon--active:hover,
.sort__icon--active:focus {
  border-bottom-color: #81b3d2;
}

.sort__icon--down {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.sort__icon--active {
  cursor: auto;
}

/* Hotels
================================================== */

.hotels__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.hotels__item {
  padding-top: 30px;
  padding-bottom: 30px;

  border-top: 1px solid #e5e5e5;
}

.hotels__item:last-child {
  border-bottom: 1px solid #e5e5e5;
}

.hotel {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 135px 30px auto 6px auto 1fr auto;
      grid-template-columns: 135px 30px auto 6px auto 1fr auto;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
}

.hotel__img {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1 / 4;
}

.hotel__title {
  -ms-grid-column: 3;
  -ms-grid-column-span: 4;
  grid-column: 3 / 7;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  margin: 0;

  font-size: 21px;
  line-height: 26px;
}

.hotel__title-link {
  display: block;
  margin-top: -5px;

  color: #000000;
}

.hotel__title-link:hover,
.hotel__title-link:focus {
  color: #81b3d2;
}

.hotel__title-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotel__type {
  display: block;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.hotel__price {
  display: block;
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5 / 6;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.hotel__level {
  -ms-grid-column: 7;
  -ms-grid-column-span: 1;
  grid-column: 7 / 8;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;

  text-align: right;
}

.hotel__star {
  margin-left: 2px;
}

.hotel__rating {
  display: block;
  -ms-grid-column: 7;
  -ms-grid-column-span: 1;
  grid-column: 7 / 8;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  padding: 3px 15px;

  color: #666666;

  background-color: #f2f2f2;
}

.hotel__link {
  display: block;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  padding: 3px 17px;

  font-weight: 700;
}

.hotel__link--booking {
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5 / 6;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
}


/* POPUP
====================================================================== */

.popup-close {
  display: none;
}
