/* GLOBAL
====================================================================== */

*,
*::before, *:before,
*::after, *:after {
	-webkit-box-sizing: inherit;
					box-sizing: inherit;
}

html {
	-webkit-box-sizing: border-box;
					box-sizing: border-box;
}

body {
	min-width: 768px;
	margin: 0;
	padding: 0;

	font: normal 400 14px/21px "PT Sans", "Calibri", sans-serif;
	color: #333333;
	text-transform: uppercase;

	background-color: #f2f2f2;
}

.page-container {
	min-width: 768px;
	max-width: 1200px;
	margin: 0 auto;

	background-color: #ffffff;
	box-shadow: 0 0 15px 0 rgba(0, 1, 1, 0.2);
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;

	white-space: nowrap;
	border: 0;

	-webkit-clip-path: inset(100%);
					clip-path: inset(100%);
	clip: rect(0, 0, 0, 0);
}

.input-reset {
	font: inherit;
	text-transform: inherit;

	background-color: transparent;
	border: 0;
}

.btn-reset {
	padding: 0;

	font: inherit;
	text-transform: inherit;

	background-color: transparent;
	border: 0;
}


/* HEADER
====================================================================== */

.page-header {
	position: relative;
	z-index: 100;
}

.page-header__logo {
	position: absolute;
	top: 0;
	left: 50%;

	margin-left: -69px;
}

.site-nav {
	display: flex;
	justify-content: space-between;
	height: 56px;
	padding: 0 6%;
}

.site-nav__list {
	display: flex;
	width: 40%;
	margin: 0;
	padding: 0;

	list-style: none;
}

.site-nav__list--left {
	text-align: left;
}

.site-nav__list--right {
	text-align: right;
}

.site-nav__item {
	width: 50%;

	line-height: 56px;
}

.site-nav__link {
	font-weight: 700;
	line-height: 26px;
	color: #000000;
}

.site-nav__link:hover,
.site-nav__link:focus {
	color: #81b3d2;
}

.site-nav__link:active {
	color: rgba(0, 0, 0, 0.3);
}

.site-nav__link--active,
.site-nav__link--active:hover,
.site-nav__link--active:focus,
.site-nav__link--active:active {
	color: #766357;
}


/* FOOTER
====================================================================== */

.page-footer {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 35px;
	padding-bottom: 35px;
}

.tags {
	margin: 0;

	font-weight: 700;
	font-size: 21px;
	line-height: 26px;
	color: #000000;
}

/* Social
================================================== */

.social {
	display: flex;
	margin: 0;
	padding: 0;

	list-style: none;
}

.social__item {
	width: 46px;
	height: 48px;
}

.social__item:not(:first-child) {
	margin-left: 6px;
}

.social__link {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;

	background-color: #81b3d2;
}

.social__link:hover,
.social__link:focus {
	background-color: #669ec0;
}

.social__link:active {
	background-color: #5496bd;
}

.social__img path {
	fill: #ffffff;
}

.social__link:active .social__img path {
	opacity: 0.3;
}

/* Develop
================================================== */

.develop {
	margin: 0;

	line-height: 26px;
	color: #000000;
}

.develop__logo {
	display: inline-block;

	vertical-align: middle;
}

.develop__img {
	display: block;
	margin-left: 10px;
}

.develop__img path {
	fill: #231f20;
}

.develop__img:hover path,
.develop__img:focus path  {
	fill: #81b3d2;
}

.develop__img:active path {
	fill: #bdbbbc;
}


/* CONTENT INDEX
====================================================================== */

.main-header {
	height: 510px;
	background-color: #7c8991;
	background-image: url("../img/head-shape.png"),
										url("../img/head-text-1.png"),
										url("../img/head-text-2.png"),
										url("../img/head-text-3.png"),
										url("../img/head-text-4.png"),
										url("../img/head-back.jpg");
	background-position: 50% 100%, 50% 76px, 50% 132px, 50% 214px, 50% 348px, 50% 0;
	background-repeat: no-repeat;
	background-size: 100% auto, auto, auto, auto, auto, 100% 100%;
}

/* Feauters
================================================== */

.features__text {
	width: 570px;
	margin: 30px auto 0;

	line-height: 26px;
	text-align: center;
}

.features__text--title {
	margin-top: 55px;

	font-weight: 700;
	font-size: 21px;
	color: #000000;
}

.features__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 50px 0 0;
	padding: 0;

	background-color: #eeeeee;

	list-style: none;
}

.features__item,
.features__item-desc {
	display: flex;
	flex-direction: column;
	width: 33%;
	height: 256px;
	padding: 45px 35px 35px;

	text-align: center;
}

.features__item--full {
	width: 100%;
	padding: 0;
}

.features__item--with-sub {
	height: auto;
}

.features__item-wrap {
	display: flex;
	align-items: center;
	height: 256px;
	overflow: hidden;
}

.features__item-desc {
	color: #ffffff;

	background-color: #81b3d2;
}

.features__item-title {
	order: -1;
	margin: 0 auto;
	padding: 0 70px;

	font-weight: 700;
	font-size: 21px;
	line-height: 21px;
}

.features__item-number {
	position: relative;

	display: inline-block;
	margin: 27px auto 20px;
	padding: 0 16px;
}

.features__item-number::before,
.features__item-number::after {
	content: "";

	position: absolute;
	left: 0;
	top: 50%;

	width: 10px;
	height: 2px;

	background-color: #333333;
}

.features__item-number::after {
	left: auto;
	right: 0;
}

.features__item-number--light::before,
.features__item-number--light::after {
	background-color: #ffffff;
}

.features__item-img {
	width: 67%;
}

.features__item-img--left {
	order: -1;
}

.features__item-text {
	max-width: 280px;
	margin: 0 auto;
}

.features__sublist {
	display: flex;
	justify-content: space-between;
	height: 330px;
	margin: 0;
	padding:0;

	background-color: #ffffff;
	list-style: none;
}

.features__subitem {
	width: 33%;
	padding: 160px 45px 45px;

	background: url("../img/icon/house.svg") left 50% bottom 200px no-repeat;
}

.features__subitem--food {
	background-image: url("../img/icon/food.svg");
}

.features__subitem--gift {
	background-image: url("../img/icon/gift.svg");
}

.features__subitem-title {
	margin: 0;

	font-weight: 700;
	font-size: 21px;
	line-height: 21px;
	color: #000000;
}

.features__subitem-text {
	max-width: 305px;
	margin: 25px 0 0;
}

/* Search
================================================== */

.search {
	width: 568px;
	margin: 0 auto;
	padding-top: 50px;

	text-align: center;
}

.search__header {
}

.search__text {
	margin: 25px 0 0;

	line-height: 24px;
}

.search__text--title {
	margin: 0;

	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
	color: #000000;
}

.search__title {
	margin: 45px 0 0;
}

.search__link {
	display: block;
	padding: 30px;

	font-weight: 700;
	font-size: 21px;
	line-height: 26px;
	color: #ffffff;

	background-color: #766357;
}

.search__link:hover,
.search__link:focus {
	background-color: #604e43;
}

.search__link:active {
	color: rgba(255, 255, 255, 0.3);

	background-color: #503e33;
}

/* search-form
=================================== */

.search__form {
	position: absolute;
	z-index: 100;

	display: flex;
	flex-wrap: wrap;
	width: 568px;
	padding: 55px;

	background-color: #ffffff;
	box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
}

.search__field {
	display: flex;
	align-items: center;
	width: 100%;
	margin: 0;
}

.search__field:not(:first-child) {
	margin-top: 30px;
}

.search__field--short {
	width: 50%;
}

.search__label {
	width: 112px;

	font-weight: 700;
	line-height: 26px;
	color: #000000;
	text-align: left;
}

.search__field--short:last-of-type .search__label {
	text-align: center;
}

.search__input {
	flex-grow: 1;
	padding: 6px 12px;

	font-weight: 700;
	line-height: 26px;
	color: #000000;

	background-color: #f2f2f2;
}

.search__input:hover {
	background-color: #ebebeb;
}

.search__input:focus {
	background-color: #ffffff;
	box-shadow: inset 0 0 0 2px #e5e5e5;
}

.search__input::-webkit-inner-spin-button {
	display: none;
}

.search__cal {
	align-self: stretch;
	display: flex;
	align-items: center;
	padding: 0 12px;

	background-color: #f2f2f2;

	cursor: pointer;
}

.search__cal-img path {
	fill: #cacaca;
}

.search__cal:hover .search__cal-img path,
.search__cal:focus .search__cal-img path {
	fill: #000000;
}

.search__cal:active .search__cal-img path {
	fill: #81b3d2;
}

.search__input-wrap {
	display: flex;
	justify-content: space-between;
	width: 114px;
	margin: 0;
}

.search__edit-number {
	width: 37px;
	padding: 6px 10px;

	font-weight: 700;
	font-size: 24px;
	line-height: 24px;
	color: #a9a9a9;

	background-color: #f2f2f2;

	cursor: pointer;
}

.search__edit-number:hover,
.search__edit-number:focus {
	color: #000000;
}

.search__edit-number:active {
	color: #81b3d2;
}

.search__input--number {
	width: 40px;

	text-align: center;

	-webkit-appearance: textfield;
	-moz-appearance: textfield;
	appearance: textfield;
}

.search__input--number::-webkit-inner-spin-button,
.search__input--number::-webkit-outer-spin-button {
  display: none;
}

.search__submit {
	width: 100%;
	margin-top: 50px;
	padding: 17px;

	font-weight: 700;
	font-size: 21px;
	line-height: 26px;
	color: #ffffff;
	text-align: center;

	background-color: #81b3d2;

	cursor: pointer;
}

.search__submit:hover,
.search__submit:focus {
	background-color: #669ec0;
}

.search__submit:active {
	color: rgba(255, 255, 255, 0.3);

	background-color: #5496bd;
}

/* Map
================================================== */

.map {
	position: relative;

	height: 473px;
	overflow: hidden;
}

.map__img {
	position: relative;
	left: 50%;
	z-index: 0;

	display: block;
	max-width: none;
	margin-left: -600px;
}

.map__iframe {
	position: absolute;
	top: 0;
	z-index: 10;

	width: 100%;
	height: 100%;

	border: 0;
}


/* CONTENT HOTELS
====================================================================== */

/* Filter
================================================== */

.filter {
	padding: 30px 6%;

	background: #7c8991 url("../img/head-back-blur.jpg") 50% 50% no-repeat;
	background-size: 100% 100%;
}

.filter__form {
	display: flex;

	color: #ffffff;
}

.filter__group {
	width: 20%;
	margin: 0;
	padding: 0;

	/*border: none;*/
}

.filter__group--price {
	width: 100%;
}

.filter__group:nth-child(2) {
	margin-left: 1.25%;
}

@media (max-width: 1199px) {
	.filter__group:nth-child(2) {
		margin-left: auto;
	}
}

.filter__group-wrap {
	width: 40%;
	margin-left: auto;
}

.filter__title {
	font-weight: 700;
	font-size: 16px;
}

.filter__list {
	margin: 20px 0 0;
	padding: 0;

	list-style: none;
}

.filter__item {
}

.filter__item:not(:first-child) {
	margin-top: 23px;
}

.filter__label {
	position: relative;

	display: inline-block;
	height: 23px;
	padding-left: 40px;

	vertical-align: middle;
}

.filter__label::before {
	content: "";

	position: absolute;
	left: 0;
	top: 0;
	width: 23px;
	height: 23px;

	border: 2px solid #ffffff;
	border-radius: 2px;
}

.filter__input:checked ~ .filter__label::after {
	content: "";

	position: absolute;
	left: 10px;
	bottom: 7px;
	width: 11px;
	height: 20px;

	border-bottom: 4px solid #fff;
	border-right: 4px solid #fff;
	box-shadow: inset -1px -1px 0 0 #5080aa,
											1px 1px 0 0 #5080aa;
	transform: rotate(45deg);
}


/* Result
================================================== */

.result {
}


/* POPUP
====================================================================== */

.popup-close {
	display: none;
}
